.dashboard-container {
  display: flex;
}

.layout-right {
  margin-left: 18vw;
  width: calc(100vw - 18vw);
  display: flex;
  flex-direction: column;
}

.layout-top {
  width: calc(100vw - 18vw);
}

.layout-main {
  margin-top: 10vh;
  padding: 1rem;
  overflow: auto;
  height: calc(100vh - 10vh);
  width: 100%;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .layout-right {
    margin-left: 0;
    width: 100vw;
  }
  .layout-top {
    width: 100vw;
  }
  
}
