.sidebar {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  height: 100%;
  width: 15%;
  color: white;
}

.sidebar li {
  margin: 30px 0;
}

.sidebar-links img {
  height: 25px;
}

.sidebar li div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.horizontal-line {
  border-bottom: 3px solid #5989ad;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.rewind-logo {
  border: 2px solid white;
  border-radius: 50%;
  padding-right: 1px;
}
