
.aph-top-bar {
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.aph {
  height: 87.25vh;
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.15rem;
}
.AppointmentCards {
  width: 90%;
  height: 30rem;
  display: flex;
  gap: 3.35rem;
}
.Ac1,
.Ac2 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}



@media(max-width:768px){
  .rightt {
      margin-left: 20vw;
    }
.AppointmentCards{
  flex-direction: column;
}
}