.medical {
  display: flex;
  height: 118vh;
}

.right-half {
  height: 10vh;
  width: 100%;
}

.navbar-container {
  height: 10vh;
  width: 100%;
}

.mr-top-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1.5rem 0;
}

.mrcol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.mrrow {
  display: flex;
  width: 100%;
  padding: 0 0.9rem;
  gap: 1rem;
}

@media (min-width: 769px) {
  .right-half {
    margin-left: 20vw;
  }
}